#section1 {
  position: relative;
  background: url("../img/showcase.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 18rem; }
  #section1 #showcase-name {
    background-color: rgba(0, 0, 0, 0.75); }
  #section1 #showcase-description {
    display: none; }

#contact {
  font-size: 16px; }

#footer {
  background-color: rgba(0, 0, 0, 0.75); }
