$primary-overlay:rgba(0, 0, 0, 0.85);

.bg-darkk {
  background-color: rgba(0, 0, 0, 0.9);
}

#section1{
    position:relative;
    background:url('../img/showcase.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:32rem;
  }

#mini-section1{
  display: none;
}

  #section2{
    padding: 30px;
  }

  #section3{
    padding: 30px;
  }

  #showcase-name{
    background-color: $primary-overlay;
    display: inline-block;
    padding: 20px;
}

#showcase-description{
  background-color: $primary-overlay;
  display: inline-block;
}

  #phone-contact, #email-contact {

    padding-right: 50px;
    display: inline;

  }

  #footer {
    background-color: $primary-overlay;
}
